@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 150;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
}

label.logo{
    line-height: 80px;
    font-size: 25px;
    padding: 0 50px;
    font-weight: bold;
}

label span{
    font-weight: bold;
    color: #ec4067;
}

nav{
    display: flex;
    width: 100%;
    line-height: 80px;
    padding: 5px 0;
}

nav ul{
    text-align: right;
    padding-right: 30px;
    margin-left: 500px;
}

nav ul li{
    display: inline-block;
    margin: 3px 15px;
}

nav ul li a{
    color:#000000;
    position: relative;
    padding: 10px 0px;
}

nav ul li button{
    background: #ec4067;
    border-radius: 5px;
    border-style: none;
    width: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav ul li button a{
    color: white;
    font-size: 20px;
    text-align: center;
}

section{
    padding: 0 90px;
}

.landingpg .rowcon{
    display: flex;
}

.landingpg .rowcon .img{
    float: right;
}

.landingpg .rowcon .img img{
    width: 500px;
    height: 400px;
    padding-right: 30px;

}

.landingpg .rowcon .content{
    float: left;
    padding-top: 75px;
}

.landingpg .rowcon .content span{
    font-weight: 600;
}

.landingpg .rowcon .content h2{
    color: #ec4067;
    font-size: 40px;
}

.landingpg .rowcon .content p{
    padding-right: 9rem;
    font-size: 20px;
}

.landingpg .rowcon .content button{
    margin-top: 20px;
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.landingpg .rowcon .content button a{
    font-size: 20px;
}

/*I have to revisit the shadow effect*/
.landingpg .rowcon .content #enr{
    background-color: #ec4067;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #ec4067;
}

.landingpg .rowcon .content #enrl{
    color: white;
}

.landingpg .rowcon .content #ex{
    background-color: white;
    border: 1px solid #ec4067;
    margin-left: 20px;
}

.landingpg .rowcon .content #exp{
    color: #ec4067;
}
